.dashboard-root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden; // Impide el scroll de toda la página
}

.viewport-main {
    flex: 1;
    overflow-y: auto; // Solo este contenedor permite scroll si hay muchas unidades
    padding: 20px;
    background-color: $bg-body;
}

.units-grid {
    display: grid;
    // Base para el grid, el JS se encarga del minmax dinámico
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    align-content: start;
    max-width: 1600px;
    margin: 0 auto;
}